<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="public/pic/09092015162707_Poultries_in_Kuwait.png">
        <link rel="stylesheet" href="../static/CSS/bootstrap.min.css">
        <link rel="stylesheet" href="../static/CSS/accounts.css">
        <link rel="stylesheet" href="../static/CSS/font-awesome.css">
    </head>
    <body>
        <div class="services container">
            <div class="row">
                <section class="col-lg-3 col-md-4">
                    <img class="icon" src="../static/pic/worldwide.svg" alt="icon">
                    <h3>Area</h3>
                </section>
                <section class="col-lg-3 col-md-4">
                    <img class="icon" src="../static/pic/customer.svg" alt="icon">
                    <h3>CUS/SUP</h3>
                </section>
                <section class="col-lg-3 col-md-4">
                    <img class="icon" src="../static/pic/specialist-user.svg" alt="icon">
                    <h3>Supervisor</h3>
                </section>
            </div>
            <div class="row">
                <section class="col-lg-3 col-md-3 col-sm-2">
                    <img class="icon" src="../static/pic/shipped.svg" alt="icon">
                    <h3>Transport</h3>
                </section>
            </div>
        </div>
    </body>
</html>