<html>
    <head>
        <title>SK Broilers</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="pic/09092015162707_Poultries_in_Kuwait.png">
        <link rel="stylesheet" href="public/CSS/bootstrap.min.css">
        <link rel="stylesheet" href="public/CSS/index.css">
    </head>
    <body class="baground">
        <div class="container-fluid log">
            <ul class="nav-wrapper">
                    <li class="nav-item">
                        <a class="nav-link link" href="signup">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="login">Login</a>
                    </li>
<!--
                    <li class="nav-item">
                        <a class="nav-link link" href="#">Contact us</a>
                    </li>
-->
                </ul> 
        </div>

<!--
        <div class="button">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" style='color:black'></i>
            </button>

            <div class="collapse navbar-collapse justify-content-center font-weight-bold" id="basicExampleNav">
                <ul class="nav-wrapper">
                    <li><a href="http://127.0.0.1:50899/login.html">Sign up</a></li>
                    <li><a href="http://127.0.0.1:50899/login%20page.html">Login</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </div>   
        </div>
-->
        
            <div class="container-fluid col-xs-12 col-sm-12 col-md-12 bgimage">
                <h1>SK BROILERS</h1>
            </div>
            <div class="services container">
                <h1>SK BROILERS</h1>
            <div class="row">
                <section class="col-xs-offset-3 col-xs-6 col-sm-6 col-lg-4">
                    <img class="icon" src="public/pic/chicken%20(3).svg" alt="icon">
                    <h3>Soft Quality</h3>
                    <p>We offer you the most high quality and high protein chicken. the live chicken is taken care by the higly technically efficient labours.</p>
                </section>
                
                <section class="col-xs-offset-3 col-xs-6 col-sm-6 col-lg-4">
                    <img class="icon" src="public/pic/chicken%20(2).svg" alt="icon">
                    <h3>Chicken Feeds</h3>
                    <p>We offer you the most high quality and high protein chicken. the live chicken is taken care by the higly technically efficient labours.</p>
                </section>
                
                <section class="col-xs-offset-3 col-xs-6 col-sm-6 col-lg-4 ">
                    <img class="icon" src="public/pic/worker.svg" alt="icon">
                    <h3>Man Power</h3>
                    <p>We offer you the most high quality and high protein chicken. the live chicken is taken care by the higly technically efficient labours.</p>
                </section>
                
                <section class="col-xs-offset-3 col-xs-6 col-sm-6 col-lg-4 ">
                    <img class="icon" src="public/pic/shipped.svg" alt="icon">
                    <h3>Transportation</h3>
                    <p>We offer you the most high quality and high protein chicken. the live chicken is taken care by the higly technically efficient labours.</p>
                </section>
                
                <section class="col-xs-offset-3 col-xs-6 col-sm-6 col-lg-4 ">
                    <img class="icon" src="public/pic/coop.svg" alt="icon">
                    <h3>Dealership</h3>
                    <p>We offer you the most high quality and high protein chicken. the live chicken is taken care by the higly technically efficient labours.</p>
                </section>
                
                <section class="col-xs-offset-3 col-xs-6 col-sm-6 col-lg-4 ">
                    <img class="icon" src="public/pic/chicken%20(4).svg" alt="icon">
                    <h3>Other</h3>
                    <p>We offer you the most high quality and high protein chicken. the live chicken is taken care by the higly technically efficient labours.</p>
                </section>
                
            </div>
        </div>
        <script src="public/JS/jquery-3.3.1.min.js"></script>    
        <script src="public/JS/bootstrap.min.js"></script>
            
    </body>
</html>