<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="pic/09092015162707_Poultries_in_Kuwait.png">
        <link rel="stylesheet" href="../static/CSS/bootstrap.min.css">
        <link rel="stylesheet" href="../static/CSS/font-awesome.css">
        <link rel="stylesheet" href="../static/CSS/price.css">
    </head>
    <body class="bg">
        <section >
        <div class="container">
            <img src="../static/pic/TamilNadu-Population-by-District-Heat-Map-Excel-Template-Gradient.png" class="image">
            <map name="tamilnadumap">
                <area shape="poly" coords="150,684, 179,711, 188,746, 126,723" alt="kanyakumari" href="https://www.poultrybazaar.net/poultryrates/daily-rates/broiler-suguna-rate/">
                
            </map>
        </div>
        </section>
        <script src="../static/JS/jquery-3.3.1.min.js"></script>
        <script src="../static/JS/bootstrap.min.js"></script>
    </body>
</html>