<html>
    <head>
        <title>SK Broilers</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="public/pic/09092015162707_Poultries_in_Kuwait.png">
        <link rel="stylesheet" href="public/CSS/bootstrap.min.css">
        <link rel="stylesheet" href="public/CSS/signup.css">
    </head>
    <body class="spbg">
<div class="signup-form">
    <h2>sign up</h2>
       <div>
		
				<div class="col-xs-6 form-group">
                    <input type="text" id="spfn" class="form-control" name="firstname" placeholder="First Name" required>
                </div>
            
            
				<div class="col-xs-6 form-group">
                    <input type="text" id="spcn" class="form-control" name="companyname" placeholder="company name" required>
                </div>
            

        	   <input type="number" class="form-control form-group" id="spmob" name="mobilenumber" placeholder="mobile number" required>

            
        	   <input type="email" id="spemail" class="form-control form-group" name="email" placeholder="Email" required validate>
            
            
                <input type="password" id="sppwd" class="form-control form-group" name="password" placeholder="Password" required>
            
                <input type="password" id="sprpwd" class="form-control form-group" name="confirm_password" placeholder="Confirm Password" required>
            
            
                <button onclick="registersignup()" class="btn btn-block form-group">Register Now</button>
     </div> 
   
</div>                           
        
        <script src="public/JS/jquery-3.3.1.min.js"></script>    
        <script src="public/JS/bootstrap.min.js"></script>
        <script src="public/JS/signup.js"></script>
        <script>
            
        </script>
    </body>
</html>