input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
  -webkit-appearance: none; 
  margin: 0; 
}
.container
{
    background: linear-gradient(to bottom,  #FFB88C, #DE6262);
	font-family: 'Roboto', sans-serif;
}
.small
{
    align-content: center;
    padding-top: 20%;
}
.big
{
    align-content: center;
    padding-top: 20%;
}
label
{
    text-align: center;
    font-weight: bolder;
}
.btn
{    
    align-content: center;
    font-weight: bolder;
    background-color: aqua;
}
#button
{
    margin-right: 0;
}